input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #27272a inset; /* same as bg-zinc-800 */
  -webkit-text-fill-color: #f4f4f5; /* same as text-zinc-100 */
  transition: background-color 5000s ease-in-out 0s; /* keeps the background */
}
